<app-component-crumb [isDownloadCheckFile]="true" [isDownloadCheckImage]="true" [disabled]="disabledButton" [(list)]="list" [isChildren]="true" (changeDisabledButton)="changeDisabledButton($event)">
  <button nzSize="small" nz-button nzType="primary" [disabled]="disabledButton" (click)="delayNotice()">延时提醒</button>
  <button nzSize="small" nz-button nzType="primary" [disabled]="disabledButton" (click)="acceptanceSubmit('pass')">确认</button>
  <button nzSize="small" nz-button nzType="danger" [disabled]="disabledButton" (click)="acceptanceSubmit('reject')">驳回</button>
</app-component-crumb>

<ng-container *ngIf="loading">
  <div class="example m-3">
    <nz-spin></nz-spin>
  </div>
</ng-container>
<ng-container *ngIf="!loading">
  <!--筛选-->
  <div class="search-filters m-3">
    <app-container-search-form
      style="width: 100%"
      [(data)]="queryFields"
      [searchFormData]="searchFormData"
      (submit)="submitSearchForm($event)"
    >
    </app-container-search-form>
  </div>
  <!--列表-->
  <div class="search-results bg-white m-3">
    <app-container-table-group-new
      [loading]="listLoading"
      (getList)="getList($event)"
      [(list)]="list"
      [(columns)]="columns"
      [(childrenColumns)]="childrenColumns"
      [(pagination)]="pagination"
      [isChildrenDisabled]="false"
      (clickEvent)="clickEvent($event)"
      (changeDisabledButton)="changeDisabledButton($event)"
      [(disabledButton)]="disabledButton"
      (selectPass)="selectPass($event)"
      [(queryFields)]="queryFields"
    >
    </app-container-table-group-new>
  </div>
</ng-container>

<nz-modal [(nzVisible)]="msgHint.isShow" nzTitle="提交确认" [nzOkLoading]="msgHint.isSubmitLoading" (nzOnCancel)="msgHint.isShow = false" (nzOnOk)="acceptanceSubmit(msgHint.flag, false)">
  <p>{{msgHint.msg}}</p>
</nz-modal>

<nz-modal [(nzVisible)]="rejectVisible" nzTitle="驳回原因" (nzOnCancel)="rejectVisible = false" [nzOkLoading]="msgHint.isSubmitLoading" (nzOnOk)="acceptanceSubmit(msgHint.flag, false)">
  <nz-form-item>
    <nz-form-control>
      <textarea nz-input placeholder="填写驳回原因" [(ngModel)]="rejectReason" [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
    </nz-form-control>
  </nz-form-item>
</nz-modal>
