<!--
 * @Author: your name
 * @Date: 2022-04-22 20:11:44
 * @LastEditTime: 2022-04-24 19:28:30
 * @LastEditors: Please set LastEditors
 * @Description: 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 * @FilePath: /csp/cpm/frontend/projects/oa/src/app/containers/modal/bulletlin/bulletlin.component.html
-->
<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="'公告内容'"
  [nzContent]="bulletlinContent"
  nzMaskClosable="false"
  [nzWidth]="800"
  [nzFooter]="null"
  [nzClosable]="false"
  [nzMaskClosable]="isClose"
  (nzOnCancel)="onOk()"
  >
</nz-modal>

<ng-template #bulletlinContent>
  <div *ngIf="bulletlin">
    <h4 class="text-center text-title">{{bulletlin['title']}}</h4>
    <div class="ql-editor text-body" [innerHTML]="bulletlin['content'] | bypassSecurityTrustHtml"></div>
    <div class="px-3"  *ngIf="bulletlin.uploadVideo && bulletlin.uploadVideo.file_path">
      <video [src]="bulletlin.uploadVideo && bulletlin.uploadVideo.file_path" controls="controls" style="height: 337px;;"></video>
    </div>
    <p *ngIf="bulletlin['attachment_id']">附件: <a class="timeline-content-file text-primary mx-1"  target="_blank" href="{{bulletlin['download_url']}}">下载</a></p>
    <div class="text-center mt-3">
        <button nz-button nzType="primary" [disabled]="!isClose" (click)="onOk()">确定{{timer ? '(' + timer + 's)' : ''}}</button>
        <button *ngIf="bulletlin['is_sign_up']" style="margin-left: 20px"  nz-button nzType="primary" [disabled]="!isClose" (click)="onSignup(bulletlin['id'],bulletlin['is_external_link'],bulletlin['external_link'])">{{bulletlin['button_name']}}</button>
    </div>
  </div>
</ng-template>
