
<div class="d-flex flex-row bg-white py-2 px-3 border-bottom sticky-top  justify-content-between" style="z-index: 500; margin-bottom: 12px;">
  <div class="d-flex align-items-center" style="min-width: 250px; max-width: 30%;" >
    <nz-breadcrumb *ngIf="menuService.curr_menu.name">
      <nz-breadcrumb-item>
        <i nz-icon [type]="menuService.curr_menu.icon" theme="outline"></i>
        {{menuService.curr_menu.parent_name}}
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
      <span style="font-size: 16px;color: #555;">
          {{menuService.curr_menu.name}}
          <span style="font-size: 12px;color: red;">  {{title}}</span>
        </span>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
  <div class="d-flex justify-content-end align-items-center flex-wrap">
    <ng-container class="fr" *ngIf="list">
      <button nz-button nzType="primary" nzSize="small" (click)="openOrCloseAll(false)" *ngIf="isChildren">{{'EXPAND_ALL' | translate}}</button>
      <button nz-button nzType="primary" nzSize="small" (click)="openOrCloseAll(true)" *ngIf="isChildren">{{'COLLAPSE_ALL' | translate}}</button>
      <button nz-button nzType="primary" nzSize="small" (click)="checkAll(true)">{{'SELECT_ALL' | translate}}</button>
      <button nz-button nzType="primary" nzSize="small" (click)="checkReverse()">{{ 'SELECT_INVERSE' | translate}}</button>
    </ng-container>
    <ng-content></ng-content>
  </div>
</div>




