<!--
 * @Author: v_swwu v_swwu@tencent.com
 * @Date: 2022-07-01 14:45:22
 * @LastEditors: v_swwu v_swwu@tencent.com
 * @LastEditTime: 2022-07-19 13:06:42
 * @FilePath: \cpm\frontend\projects\oa\src\app\index\supplier\list\list.component.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<app-component-crumb>
  <a nzSize="small" nz-button nzType="primary" target="_blank" href="supplier/email" style="color: #fff !important"> 发送邮件</a>
  <button nzSize="small"  nz-button nzType="primary" (click)="openModal()" *ngIf="isSave">新建</button>
</app-component-crumb>
<ng-container *ngIf="loading">
  <div class="example m-3">
    <nz-spin></nz-spin>
  </div>
</ng-container>

<ng-container *ngIf="!loading">
  <!--筛选-->
  <div class="search-filters m-3">
    <app-container-search-form
      style="width: 100%"
      [(data)]="queryFields"
      (submit)="submitSearchForm($event)"
      (searchChange)="searchChange($event)"
    >
      <button nz-button *ngIf="exportSupplier"  (click)="export()">导出</button>
    </app-container-search-form>
  </div>

  <!--列表-->
  <div class="search-results bg-white m-3">
    <app-container-table
      [loading]="listLoading"
      (getList)="getList($event)"
      [(list)]="list"
      [(columns)]="columns"
      [(pagination)]="pagination"
      [showCheckbox]="false"
      (changeDisabledButton)="changeDisabledButton($event)"
      (clickEvent)="clickEvent($event)"
      [(disabledButton)]="disabledButton"
    >
    </app-container-table>
  </div>
</ng-container>
