:host ::ng-deep .body-pagination {
  height: 50px;
}
:host ::ng-deep .ant-table-expanded-row th{
  background: none !important;
}
:host ::ng-deep .children-tr{
  background: #F5F3EA;
}
:host ::ng-deep .body-border {
  border: 1px solid #e7e7f0;
  margin-left: -6px;
  margin-right: -6px;
}

:host ::ng-deep .ant-table-tbody > tr > td {
  padding: 16px 8px;
}
:host ::ng-deep .table-content .body-pagination  .ant-btn-default {
  background-color: #2575e6!important ;
  color: #fff;
}
:host ::ng-deep .table-content .body-pagination  .ant-btn-default:hover {
  background-color: #2575e6!important ;
  color: #fff;
}
