<nz-modal
  [(nzVisible)]="isOpen"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  nzMaskClosable="false"
  [nzFooter]="modalFooter"
  [nzWidth]="800"
  (nzOnCancel)="modalCancel()">
  
  <ng-template #modalTitle>
    <div cdkDrag cdkDragHandle cdkDragRootElement=".ant-modal-content">预算调整</div>
  </ng-template>

  <ng-template #modalContent>
    <ng-container *ngIf="isOpen">
        <ng-container *ngIf="loading">
            <div class="example">
              <nz-spin></nz-spin>
            </div>
          </ng-container>

          <ng-container *ngIf="!loading && info">

            <div nz-row [nzGutter]="0">
              <div nz-col [nzSpan]="24">
                <nz-form-item [nzFlex]="true" class="mb-0">
                  <nz-form-label [nzFor]="'field_index'" [ngStyle]="{marginLeft: '87px'}">预算年份</nz-form-label>
                  <nz-form-control class="control-padding">
                    <nz-select style="width: 145px;" [(ngModel)]="info['curr_year']">
                      <nz-option [nzValue]="value" [nzLabel]="value" *ngFor="let value of info['year_list'];trackBy: trackByFn"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="12">
                <nz-form-item [nzFlex]="true" class="mb-0">
                  <nz-form-label [nzSm]="10" [nzFor]="'field_index'">产品名称</nz-form-label>
                  <nz-form-control [nzSm]="12" class="control-padding">
                    {{info['product_name']}}
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="12">
                <nz-form-item [nzFlex]="true" class="mb-0">
                  <nz-form-label [nzSm]="10" [nzFor]="'field_index2'">母项目</nz-form-label>
                  <nz-form-control [nzSm]="12" class="control-padding">
                    {{info['project_group_name']}}
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="12">
                <nz-form-item [nzFlex]="true" class="mb-0">
                  <nz-form-label [nzSm]="10" [nzFor]="'field_index2'">可用/品牌预算</nz-form-label>
                  <nz-form-control [nzSm]="12" class="control-padding" *ngIf="info['budget_list'] && info['budget_list'][info['curr_year']]">
                    <ng-container *ngIf="info['budget_list'][info['curr_year']]">
                      {{info['budget_list'][info['curr_year']]['brand_available']}} / {{info['budget_list'][info['curr_year']]['brand_budget']}}
                    </ng-container>
                    <ng-container *ngIf="!info['budget_list'][info['curr_year']]">
                      0
                    </ng-container>
                    元
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="12">
                <nz-form-item [nzFlex]="true" class="mb-0">
                  <nz-form-label [nzSm]="10" [nzFor]="'field_index2'">可用/产品预算</nz-form-label>
                  <nz-form-control [nzSm]="12" class="control-padding" *ngIf="info['budget_list'] && info['budget_list'][info['curr_year']]">
                    <ng-container *ngIf="info['budget_list'][info['curr_year']]">
                      {{info['budget_list'][info['curr_year']]['product_available']}} / {{info['budget_list'][info['curr_year']]['product_budget']}}
                    </ng-container>
                    <ng-container *ngIf="!info['budget_list'][info['curr_year']]">
                      0
                    </ng-container>
                    元
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="12">
                <nz-form-item [nzFlex]="true" class="mb-0">
                  <nz-form-label [nzSm]="10" [nzFor]="'field_index2'" nzRequired>产品转到品牌</nz-form-label>
                  <nz-form-control [nzSm]="12" class="control-padding">
                    <nz-input-number style="width: 100%;" (ngModelChange)="numberChange($event, 'product_change_sum')" [(ngModel)]="fromData.product_change_sum" [nzMin]="-999999999" [nzMax]="999999999" [nzStep]="1" ></nz-input-number>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="12">
                <nz-form-item [nzFlex]="true" class="mb-0">
                  <nz-form-label [nzSm]="10" [nzFor]="'field_index2'" nzRequired>品牌转到产品</nz-form-label>
                  <nz-form-control [nzSm]="12" class="control-padding">
                    <nz-input-number style="width: 100%;" (ngModelChange)="numberChange($event, 'brand_change_sum')" [(ngModel)]="fromData.brand_change_sum" [nzMin]="-999999999" [nzMax]="999999999" [nzStep]="1" ></nz-input-number>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

          </ng-container>
    </ng-container>

  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isSubmitLoading">提交</button>
    <button nz-button nzType="default" (click)="modalCancel()">取消</button>
  </ng-template>
</nz-modal>
