/*  */
:host::ng-deep .search-bar::deep- .ant-col-6:nth-child(n+4){
    display: block;
}
:host::ng-deep .search-bar .ant-col-6:last-child{
    display: block;
}

/* 如果是 */
:host::ng-deep .search-bar.iscollapse .ant-col-6:nth-child(n+4){
    display: none !important;
}
:host::ng-deep .search-bar.iscollapse .ant-col-6:last-child{
    display: block !important;
}

:host::ng-deep .search-bar {
    margin: 16px;
}

:host::ng-deep .search-bar .ant-card-body{
    padding: 0;
}

:host ::ng-deep .ant-card-body{
    padding: 16px;
    padding-top: 8px;
}

:host ::ng-deep .search-bar .ant-card-body .ant-form-item-label {
    padding-bottom: 0 !important;
}

::ng-deep .body-pagination {
    position: relative;
    z-index: 999;
}