.p-l-20 {
    padding-left: 20px;
}
.not-allowed {
    cursor: not-allowed;
}
.c-checkbox input:disabled {
    cursor: not-allowed;
}
.subCategory {
    font-weight: 400;
}
.subCategory>span {
    padding-left: 20px;
}