<app-component-crumb [(list)]="list" [isChildren]="true" (changeDisabledButton)="changeDisabledButton($event)">
  <button nzSize="small" nz-button nzType="primary" [disabled]="disabledButton" (click)="delayNotice()">延时提醒</button>
  <button nzSize="small" nz-button nzType="primary" [disabled]="disabledButton" (click)="confirmationSubmit('pass')">通过</button>
  <button nzSize="small" nz-button nzType="danger" [disabled]="disabledButton" (click)="isVisible = true">驳回</button>
</app-component-crumb>

<!--驳回提示-->
<nz-modal [(nzVisible)]="isVisible" nzMaskClosable="false" nzTitle="驳回原因" (nzOnCancel)="isVisible = false" (nzOnOk)="confirmationSubmit('reject')">

  <nz-form-item>
    <nz-form-control>
      <textarea nz-input placeholder="填写驳回原因" [(ngModel)]="reason" [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
    </nz-form-control>
  </nz-form-item>
</nz-modal>

<ng-container *ngIf="loading">
  <div class="example m-3">
    <nz-spin></nz-spin>
  </div>
</ng-container>
<ng-container *ngIf="!loading">
  <!--筛选-->
  <div class="search-filters m-3">
    <app-container-search-form
      style="width: 100%"
      [(data)]="queryFields"
      [searchFormData]="searchFormData"
      (submit)="submitSearchForm($event)"
    >
    </app-container-search-form>
  </div>
  <!--列表-->
  <div class="search-results bg-white m-3">
    <app-container-table-group-new
      [loading]="listLoading"
      (clickEvent)="clickEvent($event)"
      (getList)="getList($event)"
      [(list)]="list"
      [(columns)]="columns"
      [(childrenColumns)]="childrenColumns"
      [(pagination)]="pagination"
      (changeDisabledButton)="changeDisabledButton($event)"
      [isChildrenDisabled]="true"
      [(disabledButton)]="disabledButton"
      [(queryFields)]="queryFields"
    >
    </app-container-table-group-new>
  </div>
</ng-container>
