:host ::ng-deep .body-pagination {
  height: 50px;
}

:host ::ng-deep .body-border {
  border: 1px solid #e7e7f0;
  margin-left: -6px;
  margin-right: -6px;
}

:host ::ng-deep .ant-table-thead>tr>th {
  background-color: #E8EFFB;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.90);
  line-height: 22px;
}

:host ::ng-deep .ant-table-tbody tr td img {
  max-width: 80px;
}




:host ::ng-deep .ant-spin-nested-loading {
  min-height: 100px;
}

:host ::ng-deep .ant-table-tbody>tr>td,
:host ::ng-deep .ant-table-thead tr th {
  width: 120px;
  min-width: 120px;
  max-width: 120px;
  word-wrap: break-word;
}

:host ::ng-deep .ant-table-tbody>tr>td {
  height: 116px;
}