<!--
 * @Author: v_swwu v_swwu@tencent.com
 * @Date: 2022-07-01 14:45:22
 * @LastEditors: v_swwu v_swwu@tencent.com
 * @LastEditTime: 2022-07-22 16:27:00
 * @FilePath: \cpm\frontend\projects\oa\src\app\index\query\thing\thing.component.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<app-component-crumb [(list)]="list" [isSetSecrecy]="true">
   <button nzSize="small" *ngIf="is_not_only_needrole"  nz-button (click)="exportOrder()" >导出</button>
   <button nzSize="small" *ngIf="admin1"  nz-button (click)="exportOrderNew()" >导出物件耗时</button>

  <nz-upload
    *ngIf="admin"
    [nzAction]="'/web/cos/upload?type=' + objtype"
    [nzCustomRequest]="customReqs"
    [nzBeforeUpload]="beforeUploadFile"
    [nzShowUploadList]="false"
    (nzChange)="uploadChange()"
    (click)="$event.stopPropagation();">
    <button  *ngIf="admin" nzSize="small" nz-button nz-popover [nzContent]="uploadTemplate" >
      <span>数据统计</span>
    </button>
    <ng-template #uploadTemplate><p><span class="red">只能上传csv格式，请首先上传订单EPR数据(文件名中必须含有EPR三个字符)，提示上传成功后再上传EPO系统订单数据(文件名中必须含有EPO三个字符)</span>，文件名格式：在文件名后面加上数据统计时间范围用英文下划线链接，
    </p><p>例如：2019-2021年H1 EPO数据 <span class="red">_1-6</span>.csv 则统计每年1到6月份数据,默认1-6月<p></ng-template>
  </nz-upload>
</app-component-crumb>

<ng-container *ngIf="loading">
  <div class="example m-3">
    <nz-spin></nz-spin>
  </div>
</ng-container>

<ng-container *ngIf="!loading">
  <!--筛选-->
  <div class="search-filters m-3">
    <app-container-search-form
      style="width: 100%"
      [(data)]="queryFields"
      [searchFormData]="searchFormData"
      (submit)="submitSearchForm($event)"
      [loading]="searchLoading"
    >
    </app-container-search-form>
  </div>

  <!--列表-->
    <div class="search-results m-3">
      <app-container-table
        [loading]="listLoading"
        (getList)="getList($event)"
        [(list)]="list"
        [(columns)]="columns"
        [(pagination)]="pagination"
        (changeDisabledButton)="changeDisabledButton($event)"
        (clickEvent)="clickEvent($event)"
        [(disabledButton)]="disabledButton"
        [(queryFields)]="queryFields"
      >
      </app-container-table>
    </div>

</ng-container>

<!--物件详情-->

<nz-modal [(nzVisible)]="isVisible" nzWidth="800px" nzTitle="订单导出" (nzOnCancel)="handleCancel()" nzMaskClosable="false" (nzOnOk)="handleOk()">
  <ng-container *ngIf="isVisible">
    <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
  </ng-container>
  <pre>{{model | json}}</pre>
</nz-modal>
