<div [ngClass]="{'is-invalid': showError}"  >
  <nz-form-control>
    <div class="search-user-body">

      <textarea
        nz-input
        style="font-size: 12px"
        autocomplete="off"
        [rows]="minRows"
        [nzSize]="to['nzSize']"
        [attr.id]="key"
        [placeholder]="oaUserAllLoading[key] || ''"
        [disabled]="to['disabled'] || false"
        [nzAutosize]="{ minRows: minRows, maxRows: 3 }"
        [(ngModel)]="model[key]"
        (ngModelChange)="change($event)"
        (focus)="focus()"
        (blur)="userblur($event, key)">
      </textarea>
      <div class="search-user-hint">
        <ul class="search-user-ul" *ngIf="oaUserSelectList[key] && oaUserSelectList[key].length > 0">
          <li *ngFor="let option of oaUserSelectList[key];trackBy: trackByFn" (click)="userclick(option, key);">
            <nz-avatar  nzSize="small"
                        nzIcon="anticon anticon-user"
                        nzSrc="{{'http://dayu.oa.com/avatars/' + option[0] + '/profile.jpg'}}"
                        style="margin-right: 5px;">
            </nz-avatar>
            {{ option[1] }}
          </li>
        </ul>
      </div>
    </div>
  </nz-form-control>
</div>
