<div [ngClass]="{'is-invalid': showError}"  >
  <nz-form-control *ngIf="!is_input" nzValidateStatus="{{validating}}" nzHasFeedback>
    <nz-select
      nzShowSearch
      nzAllowClear
      [nzMode]="mode"
      [nzPlaceHolder]="to.placeholder"
      [formControl]="formControl"
      [nzServerSearch]="true"
      (nzOnSearch)="onSearchSelect($event)"
      (ngModelChange)="onSearchChange($event)"
      [(ngModel)]="model[key]">
      <nz-option *ngIf="isSearchSelect" nzDisabled nzCustomContent>
        <i class="anticon anticon-loading anticon-spin loading-icon"></i> Loading Data...
      </nz-option>
      <ng-container *ngFor="let option of optionSearchs; trackBy: trackByFn">
        <nz-option *ngIf="!isSearchSelect" [nzLabel]="option[labelProp]" [nzValue]="option[valueProp]"></nz-option>
      </ng-container>
    </nz-select>
  </nz-form-control>
  <input *ngIf="is_input" nz-input placeholder="{{to.placeholder}}" (click)="onSearchInput()" [ngModel]="model[key+'_text'] ? model[key+'_text'] : ''">
</div>
