:host {
  margin-bottom: 30px;
}

input[type=number] {
  -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:host ::ng-deep.ant-form-item-label label {
  font-size: 12px;
}

:host ::ng-deep input[type=number] {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}

:host ::ng-deep .ant-form-item-label {
  line-height: 28px;
}

:host ::ng-deep .ant-form-item-control {
  font-size: 12px;
  line-height: 28px;
}

:host ::ng-deep .small-btn {
  font-size: 12px;
  height: 20px;
}

::ng-deep .thing-details .ant-modal-body{
  padding: 0;
}

::ng-deep .thing-details .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
  padding: 10px 16px;
}
::ng-deep  .ant-btn-sm:visited,.ant-btn-sm:focus{
  background-color: #2575e6 !important;
  color: #fff!important;
}
