
<app-component-layout class="body" [menus]="menus" [user]="user" [menu_collapsed]="menu_collapsed">
  <router-outlet></router-outlet>
</app-component-layout>

<app-modal-photo-swipe></app-modal-photo-swipe>
<app-modal-bulletlin></app-modal-bulletlin>
<app-modal-new-thing-detail></app-modal-new-thing-detail>
<app-modal-new-order-detail></app-modal-new-order-detail>
<app-modal-product-budget></app-modal-product-budget>
<app-modal-create-supplier></app-modal-create-supplier>
<app-modal-create-contract></app-modal-create-contract>
<app-modal-contract-price-info></app-modal-contract-price-info>
<app-modal-contract-price-apply-info></app-modal-contract-price-apply-info>
<app-modal-supplier-info></app-modal-supplier-info>
<app-modal-price-detail></app-modal-price-detail>
<app-modal-thing-budget-list></app-modal-thing-budget-list>
<app-modal-order-export></app-modal-order-export>
<app-modal-download></app-modal-download>
<app-modal-upload-plan></app-modal-upload-plan>
<app-modal-uploads-plan></app-modal-uploads-plan>
<app-modal-push-epo></app-modal-push-epo>

<app-modal-table></app-modal-table>
<app-modal-thing-label></app-modal-thing-label>

<app-modal-delay-remind></app-modal-delay-remind>

<!-- 通用配置导出 -->
<app-modal-export></app-modal-export>

<!-- 通用表单 -->
<app-modal-form></app-modal-form>

<!-- 保密 -->
<app-modal-edit-secrecy-form></app-modal-edit-secrecy-form>

<!-- 需求详情 -->
<app-modal-demand-detail></app-modal-demand-detail>
