<app-component-crumb [(list)]="list" [isChildren]="true" (changeDisabledButton)="changeDisabledButton($event)">
  <button nzSize="small" nz-button nzType="primary" (click)="msgHintModal(1)" [nzLoading]="isSubmitLoading" [disabled]="disabledButton">通过</button>
  <button nzSize="small" nz-button nzType="danger" (click)="msgHintModal(2)" [nzLoading]="isSubmitLoading" [disabled]="disabledButton">驳回</button>
</app-component-crumb>

<ng-container *ngIf="loading">
  <div class="example m-3">
    <nz-spin></nz-spin>
  </div>
</ng-container>
<ng-container *ngIf="!loading">
  <!--筛选-->
  <div class="search-filters m-3">
    <app-container-search-form
      style="width: 100%"
      [(data)]="queryFields"
      [searchFormData]="searchFormData"
      (submit)="submitSearchForm($event)"
    >
    </app-container-search-form>
  </div>
  <!--列表-->
  <div class="search-results bg-white m-3">
    <app-container-table-group-new
      [loading]="listLoading"
      (getList)="getList($event)"
      [(list)]="list"
      [(columns)]="columns"
      [(childrenColumns)]="childrenColumns"
      [(pagination)]="pagination"
      (changeDisabledButton)="changeDisabledButton($event)"
      (blurEvent)="blurEvent($event)"
      (clickEvent)="clickEvent($event)"
      [(disabledButton)]="disabledButton"
      [(queryFields)]="queryFields"
    >
    </app-container-table-group-new>
  </div>
</ng-container>

<!--操作提示-->
<nz-modal [(nzVisible)]="msgHint.isShow" nzTitle="提交确认" [nzOkLoading]="isSubmitLoading" (nzOnCancel)="msgHintModalCancel()" (nzOnOk)="msgHintModalOk()">
  <p>{{msgHint.msg}}</p>
</nz-modal>
