<app-component-crumb>
  <button nzSize="small" nz-button nzType="primary" (click)="openModal({})">新建</button>
  <button nzSize="small" nz-button nzType="primary" (click)="openLogModal()">操作记录</button>
</app-component-crumb>

<ng-container *ngIf="loading">
  <div class="example m-3">
    <nz-spin></nz-spin>
  </div>
</ng-container>

<ng-container *ngIf="!loading">
  <!--筛选-->
  <div class="search-filters m-3">
    <app-container-search-form
      style="width: 100%"
      [(data)]="queryFields"
      [searchFormData]="searchFormData"
      (submit)="submitSearchForm($event)"
    >
    </app-container-search-form>
  </div>

  <!--列表-->
  <div class="search-results bg-white m-3">
    <app-container-table
      [loading]="listLoading"
      (getList)="getList($event)"
      [(list)]="list"
      [(columns)]="columns"
      [(pagination)]="pagination"
      [showCheckbox]="false"
      (changeDisabledButton)="changeDisabledButton($event)"
      (clickEvent)="clickEvent($event)"
      [(disabledButton)]="disabledButton"
    >
    </app-container-table>
  </div>
</ng-container>

<!--编辑弹窗-->
<app-modal-save
  (submit)="submitSaveForm($event)">
</app-modal-save>


<!--操作记录-->
<nz-modal [nzWidth]="'840px'" [(nzVisible)]="logsVisible" nzTitle="操作记录" (nzOnCancel)="logsVisible = false" [nzFooter]="null">
  <ng-container *ngIf="changLoading">
    <div class="example">
      <nz-spin></nz-spin>
    </div>
  </ng-container>
  <ng-container *ngIf="!changLoading">
    <nz-table #recoreTable [nzData]="changeList">
      <thead>
      <tr>
        <th >操作人</th>
        <th >币种</th>
        <th >月份</th>
        <th >修改内容</th>
        <th >操作时间</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of recoreTable.data;trackBy: trackByFn">
        <td>{{ data.creator_name }}</td>
        <td>{{ data.currency_name }}</td>
        <td>{{ data.ym }}</td>
        <td>{{ data.content }}</td>
        <td>{{ data.create_time }}</td>
      </tr>
      </tbody>
    </nz-table>
  </ng-container>
</nz-modal>
