:host ::ng-deep .table-content {
  min-height: 100px;
}
:host ::ng-deep .red-border{
  border:1px solid red;
}
:host ::ng-deep .no-border-top{
  border-top:0;
}
:host ::ng-deep .no-border-bottom{
  border-bottom:0;
}
:host ::ng-deep .black-border{
  border:1px solid #e8e8e8;
}
:host ::ng-deep .ant-spin-nested-loading > div > .ant-spin {
  min-height: 100px;
}

:host ::ng-deep .ant-table-tbody > tr > td {
  padding: 8px 0px;
}

:host ::ng-deep .ant-table-thead > tr > th {
  font-weight: 400;
  font-size: 14px;
  color: rgba(0,0,0,0.90);
  line-height: 22px;
  min-width: 20px;
  background-color: #E8EFFB;
  font-family: PingFangSC-Regular;
}
:host ::ng-deep .ant-table-thead > tr > .tableTH > span{
  width:100%;
}
:host ::ng-deep input::-webkit-outer-spin-button,
                  input::-webkit-inner-spin-button {
                      -webkit-appearance: none;
                  }
                  input[type="number"]{
                      -moz-appearance: textfield;
                  }
:host ::ng-deep .ant-table-thead > tr > .tableTH > span>div{
  display:flex;
  justify-content: flex-start;
  width:100%;
}
:host ::ng-deep pre{
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
:host ::ng-deep .ant-table-tbody .checked {
  background-color: #F9FBFF;
}

:host ::ng-deep .ant-table-tbody > tr > td{
  position: relative;
}

:host ::ng-deep .ant-table-tbody > .havaHover:hover > td {
  position: relative;
  opacity: 1;
  background-color: #F9FBFF;
}

:host ::ng-deep .ant-table-tbody > .havaHover:hover > td::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}

:host ::ng-deep .ant-table-tbody > tr > td {
  word-break: break-word;
  min-width: 120px;
  max-width: 500px;
}

:host ::ng-deep .ant-card-body{
  padding: 12px;
}

:host ::ng-deep .ant-table-tbody > tr > td ,
:host ::ng-deep .ant-table-thead tr  th {
  width: 120px;
  min-width: 120px;
  max-width: 120px;
  word-wrap: break-word;
}

:host ::ng-deep .ant-table-tbody > tr > td ,
:host ::ng-deep .ant-table-thead tr  th {
  width: 120px;
  min-width: 120px;
  max-width: 120px;
  word-wrap: break-word;
}

:host ::ng-deep .ant-table-tbody > tr > td  {
  height: 116px;
}

:host ::ng-deep .ant-table-fixed-header .ant-table-scroll .ant-table-header {
  margin-bottom: 0 !important;
}
:host ::ng-deep .ant-table-placeholder{
  border-bottom:0;
  padding:0;
}
:host ::ng-deep .ant-table-placeholder .ant-empty-normal{
  margin:0;
}
:host ::ng-deep .ant-table-bordered .ant-table-body > table{
  border-top:0;
}
/* :host ::ng-deep .cdk-virtual-scroll-viewport.ant-table-body::-webkit-scrollbar,
:host ::ng-deep .ant-table-header::-webkit-scrollbar{
  display: none;
} */
:host ::ng-deep .table-content .body-pagination  .ant-btn-default {
  background-color: #2575e6!important ;
  color: #fff;
}
:host ::ng-deep .table-content .body-pagination  .ant-btn-default:hover {
  background-color: #2575e6!important ;
  color: #fff;
}
