<!-- <div>Tencent Interactive Entertainment Group
  Audio Supplier Recruitment (2021)</div> -->

<section>
  <header>
    <img class="pc-image" src="../../../../../assets/images/recruitment-header-bg.png" style="width: 100%;" alt="">
    <img class="mobile-image" src="../../../../../assets/images/20210710115446.png"  style="width: 100%;" alt="">
  </header>
  <article>
    <h6 class="mt-0"><span class="sequence ">I</span> Qualifications</h6>
    <ol>
      <li> The Applicant shall be a company or group that is legally registered and has the independent capacity for civil
        liability and shall have the valid operating qualification certificates or equivalent proof in the country/region
        where it is registered, for example, a valid business license or Form W-9 in the USA.</li>

      <li> The Applicant is able to provide the invoices with the name consistent with what is listed in the Business License
        and sign contracts independently under such entity name 
        <span class="red">(the subject shall not be changed during the recruitmentperiod).</span>
      </li>

      <li> The Applicant shall be in good faith and be in compliance with the applicable laws and regulations. </li>


      <li> The Applicant must guarantee that the contents provided are legal and shall bear the relevant legal liabilities
        caused thereby.</li>

      <li> The Applicant must guarantee that it is the direct author of the contents provided and that it has stable audio
        making teams.</li>

      <li> If Tencent’s former employee is the legal person or holds any office in the management, his/her dismissal period
        must <span class="red">not be less than 18 months.</span></li>

      <li> When signing up via email, the Applicant must truly complete: Tencent MNDA and Request for Information.</li>
    </ol>
    <p><span class="note">Note</span> For the materials as listed in Para. 1 above, the Applicant shall prepare the electronic copies, which shall be
    provided before any agreement is signed.</p>

    <h6><span class="sequence">II</span> Commercial Requirements</h6>
    <ol>
      <li> The Applicant shall have its dedicated business team for business communication, with the members having the
        experience in the music or audio industry and basic business judgment ability.</li>
      <li> The Applicant’s organizational structure is well defined. The investment relation, for example, whether it is an
        affiliate, shall be cleared. The Tencent support team, if any, may be clearly specified, so that the corresponding
        materials can be provided upon formal cooperation.</li>
      <li> The Applicant shall have regular management mechanism in place and clearly specify the procedures for getting on
        board/leaving, confidentiality system, internal training, demand response and emergency response mechanism, etc. and
        make available the same to Tencent for filing upon formal cooperation.</li>
    </ol>


    <h6><span class="sequence">III</span> Technical Requirements</h6>
    <ol>
      <li> The Applicant shall have strict technical review mechanisms and procedures in place.</li>
      <li> Technical Response: to be responded to within 2 hours during working days; and to be responded to within 4 hours
        during non-working days. In case of leaves or holidays, advanced instructions and back-up plans shall be made. Any
        staff changes/transfers shall be notified at least one month in advance.</li>
      <li> No Tencent games testing, formal works and games logo are used for any commercial purposes, without proper
        authorization.</li>
      <li> Audio Portfolio submission: Please upload to Cloud Storage (like Google Drive, WeTransfer, etc.) and email the
        link to <a href="mailto:gameaudio_tender@tencent.com">gameaudio_tender@tencent.com</a>.</li>
    </ol>

    <h6><span class="sequence">IV</span> Required Documents and Formats 
      <a class="text-white" download="Tencent IEG Supplier Recruitment 2021-Appendix.zip" 
         href="/assets/file/TencentInteractiveEntertainmentGroupAudioSupplierRecruitment2021-Appendix.zip" 
      style="vertical-align: middle; background-color: #1f80ff; margin-top: -5px; font-size: 12px;" 
       nz-button nzType="primary" [nzSize]="'small'"><i nz-icon type="download"></i>Download</a></h6>

    <p class="red"><b>The following materials are required and if incomplete, signing-up will be invalid.</b></p>
    <ol>
      <li> Appendix 1 Request for Information</li>
      <li> Appendix 2 Tencent MNDA</li>
      <li> Appendix 3 Service Rate Card</li>
      <li> Appendix 4 Applicant Information Collection</li>
      <li> Works </li>
    </ol>
    <ul>
      <li>
      Please refer to applicant information collection regarding works upload. <b>The quantity of the works in a single
      category shall not exceed 10 pieces. All audio works <span class="red">MUST NOT</span> have audio watermarks that can be used to identify the
      applicant. DO NOT provide work with in-game or cutscene videos from the game that you did not work for.</b>
      </li>
    </ul>
      
    <p><span class="note">Note</span> Please find fill out above Appendix 1 and Appendix 2 and sign / stamp and send us as softcopies, which, together
      with the links of works and Service Rate Card. Please send to: <a href="mailto:gameaudio_tender@tencent.com">gameaudio_tender@tencent.com</a></p>

    <h6><span class="sequence">V</span> Notes</h6>
    
    <ul>
      <li>Please take note <span class="red">that the submission deadline is July 26, 2021 18:00, China Standard Time (GMT+8).</span></li>
      <li>It is required to guarantee that the information is true and valid.  <span class="red">  No change is accepted after the deadline.</span></li>
      <li>Make sure that the email address for signing up <span class="red">is available, with enough space reserved.</span></li>
      <li>Tencent will arrange subsequent works (for example, sending contracts) according to the signing-up information. Tencent assumes no liabilities for failure to do subsequent works due to errors thereof.</li>
      <li>In subsequent review, Tencent will <span class="red">check and verify</span> the information in the forms. If the information is inconsistent with facts, the supplier will be disqualified.</li>
      <li>Onsite review may be arranged after technical evaluation is passed.</li>
    </ul>
  </article>

  <article class="declarations">
    <h4>Declarations</h4>
    <ol>
      <li>The signing-up email submitted in the specified standard format is the only valid confirmation reference for the
        applicant to participate in the recruiment. For the signing-up information transmitted by other means, Tencent will
        not guarantee their validity. The applicant who delays submitting the signing-up information will be disqualified,
        under which case, no submissions will be returned.</li>

      <li>The applicant shall bear any and all fees incurred by understanding any information required to participate in the
        tender. We will not bear any and all fees incurred by the applicant in preparing the documents.</li>

      <li>Once signed up, the applicant shall ensure that the contents are continuously valid.</li>

      <li>The applicant shall warrant that it will not disclose or provide any signing-up information to any third parties
        for their use.</li>

      <li>Tencent is not required to bear the obligation to sign contracts with an applicant. Our obligations to the
        applicant are limited to those as specified in the contracts signed.</li>

      <li>The applicant must submit the information strictly according to the required format and the specified
        requirements. Any non-conformity with the format requirements or incomplete response to the content requirements will
        result in objections.</li>

      <li>The applicant shall sign up under the principle of good faith and legal compliance and shall not provide any false
        signing-up materials and information, nor sign up by any illegal means. Any disputes arising out of the above shall be
        settled by the applicant. Tencent reserves the right to seek liquidated damages for any and all losses of Tencent
        caused thereby.</li>

      <li>The applicant clears that Tencent will unavoidably use and release the documents prepared by it to respond to this
        tender, when evaluating the partners, so before sending the documents to Tencent, the applicant shall agree that the
        ownership of the documents and the copyrights of all relevant information shall belong to Tencent. Tencent is entitled
        to use the response documents and all information sent by the applicant to Tencent, regardless of whether or not the
        applicant establishes any contractual relations with Tencent.</li>

      <li>Tencent reserves the right to explain the above contents to the extent as permitted by the laws and regulations.</li>
    </ol>
  </article>

  <footer>
    <div class="pc-image">Tencent Interactive Entertainment Group<br>
    Interactive Entertainment Service Procurement Department
    </div>
    <img class="mobile-image" src="../../../../../assets/images/20210710142307.png"  style="width: 100%;" alt="">
  </footer>
</section>

