<!--
 * @Author: your name
 * @Date: 2022-03-01 11:40:38
 * @LastEditTime: 2022-03-01 11:40:38
 * @LastEditors: your name
 * @Description: 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 * @FilePath: /lg/cpm/frontend/projects/oa/src/app/index/errors/un/un.component.html
-->
<body>
  <div class="login" style="position: relative;">

  <div class="content" >

    <div class="inner">

      <img src="assets/images/logo_white.png" width="350" height="51">

      <div class="box logined" id="logined" style="">

        <p class="icon"></p>

        <p class="mb-2">您好，你还没有系统相关角色权限</p>

        <p class="text-left mx-3 mb-2">1.如您使用内容制作费：内容制作费下单已迁移到IOMC系统(<a href="http://iomc.oa.com" style="color: #00BBFF;" target="_blank">iomc.oa.com</a>), 请联系负责人<a style="color: #00BBFF;text-decoration: underline" href="wxwork://message?username=brucepsun" target="_blank">brucepsun(孙鹏)</a>咨询;</p>
        <p class="text-left mx-3 ">2.如您使用营销推广费：请在MSH系统(<a style="color: #00BBFF;text-decoration: underline" href="http://msh.oa.com" target="_blank">msh.oa.com</a>)中新增立项及人员，MSH系统具体操作请联系<a href="wxwork://message?username=v_jjunzhong" style="color: #00BBFF;"  target="_blank">v_jjunzhong(钟静君)</a>咨询；(<a href="assets/file/msh-V20200605.pdf" style="color: #00BBFF;text-decoration: underline">下载MSH系统操作指引</a>)</p>
        <p class="text-left mx-3 mb-2">WBP系统每天晚上会自动拉取MSH系统数据更新；</p>
        <!-- <p class="text-left mx-3 mb-2"> 1、营销推广费权限：
          <span style="color: #00BBFF">市场部统管产品</span>，
            请在MSH系统新增立项及人员，该系统拉取MSH系统的数据（ <a href="assets/file/msh-V20200605.pdf" style="color: #00BBFF;text-decoration: underline">下载MSH系统操作指引）</a><br/>
          <span style="color: #00BBFF">非市场部统管产品</span>，
            请联系品牌负责人在该系统中添加权限，如产品未配置，请填写模板数据（<a href="assets/file/waibao-project-V20191220.xlsx" style="color: #00BBFF;text-decoration: underline">下载模板</a>），发邮件给v_xiaoruixu，抄送品牌负责人、采购经理、warrenwang及相关人员</p>
        <p class="text-left mx-3 mb-2"> 2、内容制作费权限：请填写模板数据(<a href="assets/file/waibao-project-V20191220-2.xlsx" style="color: #00BBFF;text-decoration: underline">下载模板</a>)，发邮件给产品负责人审批后，转发给v_xiaoruixu，抄送采购经理、warrenwang等相关人员</p>
       -->
      </div>

      <p class="help txt">>碰到问题？可联系管理员(WBP助手)。
        <!--<a href="javascript:;" class="contactus-btn" title="联系我们">-->
          <!--<span class="help-list" style="display: none;">-->
            <!--<em>请联系管理员(PCG设管：316294915；IEG互娱：3283004664；QQ音乐：297007288；K歌业务：263585951)<br></em>-->
          <!--</span>-->
        <!--</a>-->
      </p>

      <em></em>
    </div>
    <em>
      <div class="footer">Copyright©1998-2021 Tencent. All Rights Reserved</div>
    </em>
  </div>
  <em>

    <script type="text/javascript">
      $('.contactus-btn').hover(function(){

        $('.help-list').show();

      }, function(){

        $('.help-list').hide();

      })

    </script>
  </em>
</div>
</body>
