<app-component-crumb>
  <button nzSize="small" nz-button nzType="primary" (click)="openModal({})">新建</button>
</app-component-crumb>

<ng-container *ngIf="loading">
  <div class="example m-3">
    <nz-spin></nz-spin>
  </div>
</ng-container>

<ng-container *ngIf="!loading">
  <!--筛选-->
  <div class="search-filters m-3">
    <app-container-search-form
      style="width: 100%"
      [(data)]="queryFields"
      [searchFormData]="searchFormData"
      (submit)="submitSearchForm($event)"
    >
    </app-container-search-form>
  </div>

  <!--列表-->
  <div class="search-results bg-white m-3">
    <app-container-table
      [loading]="listLoading"
      (getList)="getList($event)"
      [(list)]="list"
      [(columns)]="columns"
      [(pagination)]="pagination"
      (changeDisabledButton)="changeDisabledButton($event)"
      (clickEvent)="clickEvent($event)"
      [(disabledButton)]="disabledButton"
    >
    </app-container-table>
  </div>
</ng-container>

<!--编辑弹窗-->
<nz-modal [(nzVisible)]="isModelVisible"
          [nzTitle]="'标题'"
          [nzWidth]="640"
          (nzOnCancel)="closeModel()"
          [nzFooter]="modalFooter"
          (nzOnOk)="save(formData)"
          [nzOkLoading]="isOkLoading">

  <form [formGroup]="update_form"
        *ngIf="isModelVisible">

    <formly-form
      [model]="formData"
      [fields]="formFields"
      [options]="options"
      [form]="update_form"
      (modelChange)="myModelChange($event)">
    </formly-form>
  </form>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="closeModel()">取消</button>
    <button nz-button nzType="primary" type="submit"   (click)="save(form)" >确定</button>
  </ng-template>
</nz-modal>
